[submodule "arc-leios-ha"]
	path = arc-leios-ha
	url = https://github.com/input-output-hk/arc-leios-ha.git
[submodule "transaction-formatter"]
	path = transaction-formatter
	url = https://github.com/bwbush/cardano-node.git
